<?php

return array(
    'canariumairbnbquote' => array(
        'host_ids' => array('host_id1' => 'host name', 'host_id2' => 'host name'),
        'date_format' => 'Y m d',
        'locale' => 'en-AU',
        'currency' => 'AUD'
    )
);